*/*~
*/#*
*/*/*~
*/*/#*
*/*/*/*~
*/*/*/#*
*/*/*/*/*~
*/*/*/*/#*
*.exe
log/*
log*
log_old*
*.xlsx
*.csv
*.txt
!rx_summary*.txt
!*LUT*.csv
!input_fp.csv
*.root
*.log 
.*swp*
*.o
output*
output/*
dat
dat*
dat_old
.nfs*
AutoDict*
condor/tmpLog_*
condor/*.tar.gz
